.panel {
  background-color: var(--orange);
  transform: translateY(-4px) scale(1.02);
  box-shadow: 0 4px 12px var(--shadow);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(0) scale(1);
    box-shadow: none;
  }
}
