.input {
  height: 40px;
  padding: 0 0.75rem;
  border-radius: 6px;
  border: 2px solid var(--gray);
  background: var(--white);
  font-size: 0.9rem;

  &:focus {
    outline: none;
  }

  @media (max-width: 768px) {
    width: 100%;
    min-width: 0;
  }
}
